<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RandomNumberGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1261E8D61BC0D5F90093D277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1261E8EF1BC0D5F90093D277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1261E8FA1BC0D5F90093D277</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
